<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left info">
                    <p>Site Name</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Sync Status</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li>
                    <a href="#/sites/{{ appState.site.id }}/customers/list">
                        <i class="fa fa-users"></i>
                        <span>Contacts</span>
                    </a>
                </li>
                <li class='active'>
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Reports</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span>Data Manager</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>Orders</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Site List</a>
                </li>
                <li class="active">Orders Listing</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <!--DATA TABLE -->
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div class="row">
                                    <div class="col-xs-6"></div>
                                    <div class="col-xs-6"></div>
                                </div>
                                <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Invoice</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Customer</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Name</th>
                                            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Status</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Total</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Payment Method</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Recurring</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Assigned To</th>
                                        </tr>
                                    </thead>

                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-class="{ 'odd' : ($index % 2) == 1, 'even' : ($index % 2) == 0 }" ng-repeat="order in orders">
                                            <td><span ng-show='order.invoiced != "false"'>#{{ order.invoiceNumber }}, {{ order.invoiceDate | date  }}</span>&nbsp;</td>
                                            <td class=" sorting_1">{{ order.customer.firstName }}<span ng-if='order.customer.middleName.length'> {{ order.customer.middleName }} </span> {{ order.customer.lastName }}</td>

                                            <td>{{ order.name }}</td>
                                            <td class=" ">{{ getType(order.statusTypeId, orderStatuses) }}</td>
                                            <td>{{ order.totalPrice | currency }}</td>
                                            <td>{{ getPaymentMethodType(order.paymentMethodTypeId) }}</td>
                                            <td>
                                                <span ng-if='order.recur == "true"'>Yes</span>
                                                <span ng-if='order.recur == "false"'>No</span>
                                            </td>

                                            <td>{{ order.assignedTo.firstName }}<span ng-if='order.assignedTo.middleName.length'> {{ order.assignedTo.middleName }} </span> {{ order.assignedTo.lastName }}</td>

                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            <pagination total-items="totalOrders" ng-model="currentPage" max-size='10' items-per-page='limit' boundary-links='true'></pagination>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END DATA TABLE-->
                </div>
            </div>
        </section>
    </aside>
</div>
