<div class="col-md-10 col-md-offset-1">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Site Listing</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Site Name</th>
                        <th>Syncronised</th>
                        <th>Sync date</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat='site in sites'>
                        <td>{{ ::$index }}</td>
                        <td>{{ ::site.name }}</td>
                        <td>
                            <span class="badge bg-green" ng-if='site.synced'>YES</span>
                            <span class="badge bg-orange" ng-if='!site.synced'>NO</span>
                        </td>
                        <td>

                            <span ng-if='site.synced'>{{ ::site.synced_at | date: 'medium' }}</span>
                            <span ng-if='!site.synced'>NEVER</span>
                        </td>
                        <td ng-show='site.exists'><a href="javascript:void(0)" class="btn btn-xs btn-success" ng-click='noSync($index)'>Open</a>
                            <a href="javascript:void(0)" class="btn btn-xs btn-primary" ng-click='sync($index)'>Open And Sync</a>
                            <a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click='reSync($index)'>Full Re Sync</a>
                        </td>
                        <td ng-hide='site.exists'>
                            <a href="javascript:void(0)" class="btn btn-xs btn-default" ng-click='import($index)'>Import</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
